main{
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 850px;
    width: 80vw;
}

@media screen and (max-width:1000px) {
    main{
        transform: scale(.9);
    }
}

@media screen and (max-width:770px) {
    main{
        flex-direction: column;
        height: auto;
    }
}

@media screen and (max-width:550px) {
    main{
        margin-top: -50px;
    }
  }